/* ============================================
   NAVBAR STICKY Y VISIBLE - AGREGADO AL INICIO
   ============================================ */

/* Header sticky y visible */
.header_section {
    width: 100%;
    float: left;
    background-color: rgba(255, 255, 255, 0.98) !important;
    background-image: none !important;
    position: sticky !important;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

/* Navbar container */
.custom_nav-container {
    background-color: #fff !important;
    padding: 10px 0 !important;
    margin: 10px 0 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Botón hamburguesa visible */
.navbar-toggler {
    border: 2px solid #fc9d22 !important;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #fff !important;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(252, 157, 34, 0.25);
}

/* Icono hamburguesa personalizado */
.navbar-toggler-icon {
    background-image: none !important;
    width: 24px;
    height: 2px;
    background-color: #fc9d22 !important;
    display: block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fc9d22;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -7px;
}

.navbar-toggler-icon::after {
    top: 7px;
}

/* Logo móvil visible */
.navbar-brand.d-lg-none {
    font-size: 18px;
    font-weight: bold;
    color: #fc9d22 !important;
}

/* Menú colapsado */
.navbar-collapse {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Links del navbar */
.navbar-nav .nav-link {
    color: #000 !important;
    padding: 12px 20px !important;
    text-align: center;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    background-color: #fc9d22;
    color: #fff !important;
    border-radius: 5px;
}

/* Banner con espacio para el navbar sticky */
.banner_section {
    padding-top: 40px !important;
}

/* ============================================
   RESPONSIVE NAVBAR
   ============================================ */

/* Móvil */
@media (max-width: 991px) {
    .navbar-collapse {
        margin-top: 10px;
        padding: 10px 0;
    }

    .navbar-nav .nav-item {
        border-bottom: 1px solid #f0f0f0;
        width: 100%;
    }

    .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }

    .navbar-nav .nav-link {
        text-align: left !important;
        padding: 12px 20px !important;
    }

    .banner_section {
        padding-top: 30px !important;
    }
}

/* Desktop */
@media (min-width: 992px) {
    #navbarSupportedContent .navbar-nav {
        width: 100%;
        display: flex;
    }

    #navbarSupportedContent .nav-item {
        flex: 1;
    }

    #navbarSupportedContent .nav-link {
        text-align: center;
        padding: 15px 10px !important;
    }

    /* Logo central solo en desktop */
    #navbarSupportedContent .nav-link.navbar-brand {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbarSupportedContent .nav-link.navbar-brand span {
        z-index: 2;
        position: relative;
    }

    #navbarSupportedContent .nav-link.navbar-brand span span {
        color: white;
    }

    #navbarSupportedContent .nav-link.navbar-brand::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1.3);
        width: 100%;
        height: 100%;
        background-color: #fc9d22;
        border-radius: 5px;
        z-index: 1;
    }
}

/* ============================================
   RESTO DEL CSS ORIGINAL
   ============================================ */

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

/* banner section */
.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: 100%;
    padding: 90px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    padding-top: 90px;
    padding-left: 100px;
}

.banner_taital {
    width: 100%;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    line-height: 60px;
}

.banner_text {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
}

.padding_right0 {
    padding-right: 0;
}

/* about section */
.about_section {
    width: 100%;
    float: left;
}

.about_taital {
    width: 100%;
    font-size: 36px;
    color: #1b1b1b;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
}

.about_taital::after {
    position: absolute;
    content: '';
    width: 80px;
    border: 4px solid #fc9d22;
    left: 0px;
    right: initial;
    bottom: 0px;
}

.about_text {
    width: 70%;
    font-size: 14px;
    color: #1b1b1b;
    margin: 0px;
    padding-top: 40px;
}

/* models section */
.models_section {
    width: 100%;
    float: left;
}

.models_taital {
    width: 100%;
    font-size: 40px;
    color: #1b1b1b;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
    text-align: center;
}

.models_taital::after {
    position: absolute;
    content: '';
    width: 80px;
    border: 4px solid #fc9d22;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    text-align: center;
}

.models_section_2 {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0px 20px 10px #e9e9e8;
    margin-top: 60px;
}

.carolo_text {
    width: 100%;
    font-size: 20px;
    color: #262625;
    font-weight: bold;
    padding-top: 60px;
    text-align: center;
}

.number_text {
    padding-right: 10px;
    color: #e9e9e8;
}

.price_main {
    width: 100%;
    display: flex;
    text-align: center;
}

.price_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #3e3e3d;
    margin: 0px;
    padding-top: 50px;
}

.choose_section_2 {
    width: 100%;
    float: left;
    background-color: #fc9d22;
    height: auto;
    padding: 90px 0px;
    margin-top: 30px;
}

.rated_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 0px;
}

.house_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #fefefd;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
}

.padding_10 {
    padding-right: 15px;
}

/* blog section */
.blog_section {
    width: 100%;
    float: left;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #262626;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.blog_taital::after {
    position: absolute;
    content: '';
    width: 80px;
    border: 4px solid #fc9d22;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    text-align: center;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.blog_box {
    width: 100%;
    background-color: #fefefd;
    height: auto;
}

.blog_text {
    width: 100%;
    font-size: 24px;
    color: #2d2d2d;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    text-align: center;
}

.lorem_text {
    width: 70%;
    font-size: 16px;
    color: #3c3c3c;
    margin: 0 auto;
    text-align: center;
}

/* client section */
.client_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.client_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.client_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    margin: 0px;
    text-align: center;
}

.customer_section_2 {
    width: 100%;
    float: left;
    padding-top: 100px;
}

.box_main {
    width: 90%;
    float: right;
    background-color: #ffffff;
    padding: 0px 50px 0px 50px;
    box-shadow: 0px 0px 18px -6px;
    margin-bottom: 10px;
}

.customer_main {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.customer_left {
    width: 30%;
    float: left;
}

.customer_right {
    width: 100%;
    float: left;
    margin-top: 0px;
    padding-left: 200px;
}

.customer_name {
    width: 100%;
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #001431;
}

.enim_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #737372;
    margin: 0px;
}

.customer_img {
    position: absolute;
    top: -60px;
    left: 60px;
}

/* contact section */
.contact_section {
    width: 100%;
    float: left;
    background-color: #161616;
    height: auto;
    background-size: 100%;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.contact_section_2 {
    width: 60%;
    margin: 0 auto;
}

.contact_section .map_form_container .map_container {
    display: none;
}

.contact_section .map_form_container.map_show form {
    display: none;
}

.contact_section .map_form_container.map_show .map_container {
    display: block;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #929191;
    border-bottom: 1px solid #6f6f6f !important;
    background-color: transparent;
    padding: 14px 15px 0px 0px;
    margin-bottom: 10px;
    border: 0px;
}

input.mail_text::placeholder {
    color: #929191;
}

.massage-bt {
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #929191;
    border-bottom: 1px solid #6f6f6f !important;
    background-color: transparent;
    padding: 20px 15px 0px 0px;
    margin-bottom: 10px;
    border: 0px;
}

textarea#comment::placeholder {
    color: #929191;
}

.map_btn_main {
    width: 100%;
    float: right;
}

.send_bt {
    width: 160px;
    float: right;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fc9d22;
    border: 3px solid #fc9d22;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.send_bt a:hover {
    color: #ffffff;
    border: 3px solid #ffffff;
}

.map_bt {
    width: 160px;
    float: right;
    margin-right: 15px;
}

.map_bt a {
    width: auto;
    text-align: center;
    font-size: 18px;
    color: #fc9d22;
    border: 3px solid #fc9d22;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.map_bt a:hover {
    color: #ffffff;
    border: 3px solid #ffffff;
}

.social_icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.social_icon li {
    float: left;
}

.social_icon li a {
    float: left;
    padding: 5px 15px;
    background-color: #ffffff;
    color: #000;
    border-radius: 100%;
    font-size: 22px;
    margin-right: 5px;
    width: 50px;
    text-align: center;
    margin-top: 10px;
}

.social_icon li a:hover {
    background-color: #fc9d22;
    color: #ffffff;
}

.location_main {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.location_text {
    width: 100%;
    text-align: center;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.location_text li {
    float: left;
    color: #ffffff;
    font-size: 16px;
    padding: 0px 20px;
}

.location_text a {
    color: #ffffff;
}

.location_text li a:hover {
    color: #fc9d22;
}

.padding_left_15 {
    padding-left: 10px;
}

/* copyright section */
.copyright_section {
    width: 100%;
    float: left;
    background-color: #161616;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #fff;
}

.copyright_text a:hover {
    color: #fc9d22;
}

/* Listas */
.Descripcionautos {
    display: list-item;
    text-align: center;
    margin-right: 5%;
}

/* Responsive móvil */
@media (max-width: 767.98px) {
    .banner_taital_main {
        padding-top: 40px;
        padding-left: 0;
        text-align: center;
    }

    .banner_taital {
        font-size: 32px;
        line-height: 40px;
    }

    .banner_text {
        font-size: 14px;
    }

    .layout_padding {
        padding-top: 60px;
    }

    .customer_section_2 {
        padding-top: 40px;
    }

    .box_main {
        width: 100% !important;
        float: none !important;
        margin: 0 auto 20px !important;
        padding: 40px 20px 30px 20px !important;
    }

    .customer_main {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin-top: 20px !important;
    }

    .customer_left,
    .customer_right {
        width: 100% !important;
        float: none !important;
    }

    .customer_img {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0 auto 15px auto !important;
    }

    .customer_right {
        margin-top: 10px !important;
        padding-left: 0 !important;
    }

    .contact_section_2 {
        width: 90%;
    }
}